### add path to include extra configuration files : (default: off)
NGINX_INCLUDE_PATH=/app/config/nginx/*.conf

### Include default server definition with health check: on|off (default: on)
### Nginx will not be able to start without default server configured with /healthcheck
NGINX_DEFAULT_SERVER=on
